.footer {
  background: #1a1a1a;
  color: rgba(255, 255, 255, 0.9);
}
.footer-widget h2 {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 600;
}
.footer-widget h2 a {
  color: #fff;
}
.footer-widget .footer-social li {
  display: inline-block;
  background-color: #95adbe;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0 10px 10px 0;
}
.footer-widget .footer-social li a {
  color: #fff;
}
.footer-widget .footer-social li a i {
  font-size: 18px;
}
.footer-widget .footer-list li {
  margin-bottom: 10px;
}
.footer-widget .footer-list li a {
  color: rgba(255, 255, 255, 0.8);
  margin-left: 5px;
}
.footer-widget .footer-list.contact li a {
  color: rgba(255, 255, 255, 0.9);
  display: table-cell;
  vertical-align: top;
}
.footer-widget .footer-list.contact li i.icon {
  width: 40px;
  font-size: 18px;
  padding-top: 2px;
  margin-right: 5px;
  color: #fff;
  display: table-cell;
  vertical-align: top;
}
/*loader*/
#ftco-loader {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
}
#ftco-loader.show {
  opacity: 1;
  visibility: visible;
}
#ftco-loader.fullscreen {
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#ftco-loader .circular {
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
}
#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: loader-dash 1.5s ease-in-out infinite;
}
@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}
